.EmojiDashboard {
    float: left;
    width: 20%;
    background-color: green;
    height: 100vh;
    overflow-y: scroll;
}
.EmojiChannel {
    float: right;
    width: 80%;
    background-color: red;
    height: 100vh;

}