.EmojiDashboard {
    float: left;
    width: 20%;
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
}
.EmojiChannel {
    float: right;
    width: 80%;
    background-color: #e6e6e6;
    height: 100vh;

}