.single-post {
  margin: 1.5%;
  padding: 15px;
  border-radius: 15px;
  width: 30%;
  float: left;
  background: #F9F9F9;  
}
h3.channelLabel {
  text-align: center;
}
img.dashEmoji {
  margin-bottom: 10px;
}
