.single-post {
  margin: 10%;
  padding: 15px;
  border-radius: 15px;
  width: 80%;
  float: left;
  background: #e6e6e6;  
  overflow: hidden;
  font-size: small;
}

h3.channelLabel {
  text-align: center;
}
img.dashEmoji {
  margin-bottom: 10px;
}
