.mainEmoji {
    margin: auto;
    width: 35%;
}
.channelName {
    font-size: 30px;
}
.otherEmotions {
    font-size: 15px;
    float: right;
}
.history {
    // float: left;
    display: inline-block;
}

.predictive {
    // float: left;
    display: inline-block;
}

.predictive {
    display: inline-block;
}

.historyAndPredictive{
    height: 30%;
    width: 100%;
    bottom: 0;
    position: absolute;
    display: inline-block;
}

.side-emoji {
    width:70%;
}